*{
    margin: 0;
    padding: 0;
}


.App{
    background-color: rgb(243, 243, 183);
    height: 100vh;
   
    /*display: flex;
    flex-direction: column;
    background-image: url("./image/photo.jpg");
    background-position: center;*/
   /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;*/
   
}

.container{
    
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*REGISTER */

.form-container{
    width: 20%;
   
    display: flex;
    flex-direction: column;
    color: #2d2c2e;
    background-color: white;
    padding: 25px;
}


.register-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.register-form > input{
   width: 100%;
   line-height: 25px;
   outline: none;
   border: none;
   
   margin: 10px;
   padding: 10px;
   border: none;
   border-bottom: 2px solid skyblue;
   background: none;
   
   
}

.register-form > input::placeholder{
color: #2d2c2e;
margin-left: 10px;
font-weight: 700;
font-size: 12px;
}

.register-form > input:focus{
    border-bottom: 2px solid crimson;
    }



.form-button{
border-radius: 20px;
margin-top: 10px;
width: 80%;
height: 100%;
padding: 8px;
border: none;
color: white;
font-weight: 700;
background-color: crimson;
cursor: pointer;

    }
 .register-switch{
     margin-top: 20px;
cursor: pointer;
 }

 .switch-style{
     color: crimson;
     font-weight: 700;
 }
 .switch-style:hover{
    color: red;
    font-weight: 700;
}
    
.forgot-link{
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
  
    font-weight: 600;
    width: 100%;

    
}

.forgot-link > a{
    text-decoration: none;
    color: crimson;
    width: 100%;
    display: flex;
justify-content: flex-end;
}

.forgot-link > a:hover{
   color: red;

}

.title-form{
    margin-bottom: 20px;
}

.error-form {
    font-size: 16px;
    margin-bottom: 20px;
    color: red;
    width: 100%;
}



@media only screen and (max-width: 600px) {
    .form-container{
        width: 50%;
       
    }

 

   
  }




/* REGISTER END    */


/*Forgot */
.forgot-form-button{
    border-radius: 20px;
    margin-top: 30px;
    width: 80%;
    height: 100%;
    padding: 8px;
    border: none;
    color: white;
    font-weight: 700;
    background-color: crimson;
    cursor: pointer;
}


.no-error{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
    color: green;
    width: 100%;
}

.send-container {
    background-color: lightgreen;
    width: 20%;
    display: flex;
    flex-direction: column;
    color: #2d2c2e;
    padding: 25px;
    line-height: 23px;
}


/* Forgot END ///////  */



/*RESET */

.container-error-msg{
    background-color: rgb(233, 69, 102);
    width: 40%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.error-msg-style{
margin-left: 20px;
font-family: Arial, Helvetica, sans-serif;
}




/* RESET END ///////  */